<div class="jumbotron">
  <div class="d-flex justify-content-center">
    <% if flash[:alert] %>
      <p id="notice"><% flash[:alert] %></p>
    <% end %>

    <%= form_tag do %>
      <filedset>
        <legend> Please Log In</legend>

        <div>
          <%= label_tag :name, 'Name:' %>
          <%= text_field_tag :name, params[:name] %>
        </div>

        <div>
          <%= label_tag :name, 'Password:' %>
          <%= password_field_tag :password, params[:password] %>
        </div>

        <div>
          <%= submit_tag 'Login' %>
        </div>
      </filedset>
    <% end %>
  </div>
</div>