<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="h2">Welcome to the Admin Site</div>
  <div>  <%= Time.now %></div>
  <hr>

  <div class="container" style="margin-top: 30px; margin-bottom: 25px;">
    <h5>Actions:</h5>
    <div>
      <%= link_to 'Mechanical', new_mechanical_prop_path %>
    </div>

    <div>
      <%= link_to 'Weld Strength', new_generator_path %>
    </div>

    <div>
      <%= link_to 'Create New Admin User', new_user_path %>
    </div>

    <h5 style="padding-top: 20px;">Data:</h5>
    <div>
      <%= link_to 'All Jobs Done', jobs_path %>
    </div>

    <div>
      <%= link_to 'Mechanical Props', show_mechanical_props_path %>
    </div>

    <div>
      <%= link_to 'Users', show_users_path %>
    </div>
  </div>
</div>